name: Deploy to S3 and CloudFront

on:
  push:
    branches:
      - main  # Il deploy parte solo se fai il push qui

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Build Project
      run: |
        npm install
        npm run build  # Assicurati che questo comando generi la cartella /dist

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy to S3
      run: |
        # Sincronizza tutto ESCLUDENDO la cartella video. 
        # Questo impedisce ad AWS di cancellare o sovrascrivere il contenuto di /video su S3.
        aws s3 sync ./dist s3://${{ secrets.S3_BUCKET_NAME }} --delete --exclude "video/*"

    - name: CloudFront Invalidation
      run: |
        aws cloudfront create-invalidation \
          --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
          --paths "/*"